@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Estrutura Asp Net Core</h1>
    <p>SENAI Informática <a href="https://docs.microsoft.com/aspnet/core">Documentação do Asp.Net</a>.</p>
    <p>Aula teste para iniciação na estrutura Asp.Net</p>
</div>
