@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Política de privacidade em aplicativos Android<br>
Em alguns lugares a política de privacidade de um software já é algo obrigatório, independente do tipo e plataforma dele.<br>

Não tenho os números de quantos aplicativos, ao menos a porcentagem, da Google Play Store que têm a página de política de privacidade disponível na área deles na Google Play, mas segundo a Docracy, um pouco menos de 50% dos aplicativos que têm essa página é que disponibilizam ela para seus usuários depois de eles terem finalizado o download do App.<br>

Para os aplicativos que ainda não disponibilizam as políticas, também dentro deles, esses terão de ser atualizados, pois os usuários deverão conseguir acesso a política de privacidade também no App, seguindo assim as novas regras do Google Android.</p>
